/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* Global resetting to take out any effects added by the browser */
* {
  margin: 0;
  padding: 0;
  /* changing the boxmodel so that box padding and borders are not added to the total w or height of a box  */
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  /* At every point the heightis 95% of viewport height  */
  height: 95vh;
  /* background img and then add the grandient on top and low opacity */
  /* background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
    url(../img/hero.jpg); */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  /* Fit the element inside of the vh */
  background-size: cover;
  background-position: top;
  /* Drawing a polygon to clip the picture defining it's 4 corner positions */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* For the logo box absolute positions */
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}
/* Centering the heading text */
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* centering the text inside the box */
  text-align: center;
}
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* For the shakiness after the animation in main and sub */
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  /* a span is an inline element so we make it take the whole line width */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  /* How to use animation */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-timing-function: ease-in; animation will start slow then accelerate*/
  /* animation-iteration-count: 2; */
  /* animation-delay: 1s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
  animation: moveInRight 1s ease-out;
}

/* Animations */
@keyframes moveInLeft {
  /* Start of animation  */
  /* For best browser performance its best to only animate two props opacity and transform  */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  /* End of animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* Start of animation  */
  /* For best browser performance its best to only animate two props opacity and transform  */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  /* End of animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Button translate animation coming from the bottom  */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  /* End of animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Using pseudo elements here to style the button in different states */
/* First when displayed as a link and then as visited link */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  /* so the element take the whole line width and no element overlay with the txt above */
  display: inline-block;
  border-radius: 100px;
  /* 2nd method for animation and should be on initial state of the element*/
  transition: all 0.2s;
  /* for the .btn::after */
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  /* 0  X offset, 10px Y offset, 20px blur rgba(0, 0, 0, 0.2) 0.2 for opacity*/
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Btn click */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}
/* ###########" */
/* START btn hover animation ripple */
.btn::after {
  /* content and display necessary so the element is displayed */
  content: '';
  display: inline-block;
  /* 100% the width of the btn class */
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-white::after {
  background-color: #fff;
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* END Btn hover animation ripple */
/* ###########" */
.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  /* automatically apply 0% styles before the animation starts 
  @keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  } 
  */
  animation-fill-mode: backwards;
}
